{% extends 'theme.html' %}
{% block content %}
<h2>Products</h2>
<div class="container">
    <div class="row">
    {% for product in products %}
        <div class="col-md-3">
    <div class="card">
<!--        style="width: 18rem;"-->
        <img src="{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">${{product.price}}</p>
            <p class="card-text">{{product.stock}}</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
</div>
    </div>
    {% endfor %}
</div>
    </div>



<!--<h2>Products</h2>-->
<!--<ul>-->
<!--{% for product in products %}-->
<!--    <li>-->
<!--        {{product.name}}-->
<!--    </li>-->
<!--    <li>-->
<!--        {{product.stock}}-->
<!--    </li>-->
<!--{% endfor %}-->
<!--</ul>-->
{% endblock %}
